REDIS_HOST=localhost
REDIS_PORT=6380
DISCORD_CHANNEL_ID=
DISCORD_TOKEN=
TG_BOT_TOKEN=
TG_ECOSYSTEM_UPDATES_GROUPID=
OPENAI_API_KEY=
OPENAI_DEFAULT_MODEL=gpt-4o-mini
OPENAI_GOVERNANCE_MODEL=
CELERY_BROKER_URL=redis://localhost:6379/0
CELERY_RESULT_BACKEND=redis://localhost:6379/1
environment=development
GOVERNANCE_EXTRACT_TIMEFRAME=1d
GOVERNANCE_FORUMS_MAPPING_PATH="../../governance_forums.sample.json"
TWITTER_USER=
TWITTER_PASSWORD=
TWITTER_ACCOUNTS_PATH="../../tweet_accounts.sample.json"
CONTENT_TAGS_PATH="../../content_tags.sample.json"
NOTION_KEY=
NOTION_DATABASE_ID=
NOTION_FULL_SUMMARY_PARENT_ID=
OPENAI_MODELS=gpt-4.5-preview,gpt-4.5-preview-2025-02-27,o1-preview-2024-09-12,o1-mini,gpt-4o-mini,gpt-4o
BOT_PASSWORD=
PROXY_IP=
PROXY_PORT=
PROXY_USERNAME=
PROXY_PASSWORD=